@font-face {
    font-family: "Legitima";
    src: url("/fonts/Legitima-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
